<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Update Director</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body background="../images/f2.jpg">
<div class="container">
    <h2>Update Director</h2>

    <form action="#" th:action="@{/updateDirector}" th:object="${director}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{image}" class="form-control mb-4 col-4">

        <input type="text" th:field="*{name}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Director</button>
    </form>

    <a href = "/app/operationDirectors"> Back</a>
</div>
</body>
</html>